.ml-auto {
    margin-left: auto;
}



.welcome-message {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.background-image {
    background-image: url('../assets/images/image3.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
}